<app-cabecera></app-cabecera>

<!-- Obtener la serie seleccionada en Home (GET ONE SERIES) -->
<ion-content bg-color="red">
        <ion-card>
            <!-- Slides en el header de la card -->
            <ion-card-header>
                <ion-slides pager="true">

                    <ion-slide *ngFor="let imagen of serie.imagenes">
                        <img [src]="imagen" class="card-img-top">
                    </ion-slide>


                </ion-slides>
            </ion-card-header>
            <!-- Título Serie -->
            <ion-card-title>
                <ion-title>
                    {{serie.titulo}}
                </ion-title>
            </ion-card-title>
            <!-- Resto de atributos -->
            <ion-card-content>
                <br>
                <ion-label>Categorías: {{serie.categorias}}</ion-label>
                <br>
                <ion-label>Número de capítulos: {{serie.numCapitulos}}</ion-label>
                <br>
                <ion-label>Año de emisión: {{serie.anyoEmision}}</ion-label>
                <br>
                <ion-label>Sinopsis: {{serie.sinopsis}}</ion-label>
                <br>
                <ion-badge>Puntuación: {{media}} </ion-badge>  <!-- Mostrar la media -->
            </ion-card-content>

            <!-- FORM PARA PUNTUAR SERIE (EMAIL Y NOTA) -->
            <!-- Tiene que añadir email y nota al objeto puntuación y meter el objeto en la lista de puntuaciones de la serie -->
            <form #puntuacionForm="ngForm" (ngSubmit)="enviarFormulario(serie, puntuacionForm)">

                <ion-card>
                    <ion-card-header>¿Ya has visto esta serie? ¡Puntúala!</ion-card-header>

                    <ion-card-subtitle>
                        <ion-item>
                            <input type="email" name="email" #email="ngModel"
                                   [(ngModel)]="puntuacion.email" placeholder="Introduce un email válido para poder votar"
                                   required pattern="^([a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
                            <!-- Activar BTN cuando el email sea válido -->
                            <ion-button type="submit" expand="full" [disabled]="puntuacionForm.invalid"
                                        class="btn btn-success">
                                Votar
                            </ion-button>
                        </ion-item>
                    </ion-card-subtitle>

                    <ion-card-subtitle>
                        <ion-item>

                            <ion-range
                                       name="nota" #nota="ngModel" [(ngModel)]="puntuacion.nota"
                                       pin="true" snaps="true" ticks="true" min="1" max="10" color="primary" step="1" >
                                <ion-label slot="start">1</ion-label>
                                <ion-label slot="end">10</ion-label>
                            </ion-range>
                        </ion-item>
                    </ion-card-subtitle>
                </ion-card>
            </form>
            <!-- FIN FORM -->
        </ion-card>
</ion-content>
