/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /* Color Youtube */
  --ion-color-youtube: #ff0000;
  --ion-color-youtube-rgb: 255, 0, 0;
  --ion-color-youtube-contrast: #ffffff;
  --ion-color-youtube-contrast-rgb: 255, 255, 255;
  --ion-color-youtube-shade: #e00000;
  --ion-color-youtube-tint: #ff1a1a;

  /* Color Twitter */
  --ion-color-twitter: #3dc2ff;
  --ion-color-twitter-rgb: 61, 194, 255;
  --ion-color-twitter-contrast: #ffffff;
  --ion-color-twitter-contrast-rgb: 255, 255, 255;
  --ion-color-twitter-shade: #36abe0;
  --ion-color-twitter-tint: #50c8ff;

  /* Color Facebook */
  --ion-color-facebook: #0000fa;
  --ion-color-facebook-rgb: 0, 0, 250;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #0000dc;
  --ion-color-facebook-tint: #1a1afb;

  /* Color Vimeo */
  --ion-color-vimeo: #3dc2ff;
  --ion-color-vimeo-rgb: 61, 194, 255;
  --ion-color-vimeo-contrast: #ffffff;
  --ion-color-vimeo-contrast-rgb: 255, 255, 255;
  --ion-color-vimeo-shade: #36abe0;
  --ion-color-vimeo-tint: #50c8ff;

  /* Color Google */
  --ion-color-google: #ffffff;
  --ion-color-google-rgb: 255, 255, 255;
  --ion-color-google-contrast: #000000;
  --ion-color-google-contrast-rgb: 0, 0, 0;
  --ion-color-google-shade: #e0e0e0;
  --ion-color-google-tint: #ffffff;

  /* Color Github */
  --ion-color-github: #222428;
  --ion-color-github-rgb: 34, 36, 40;
  --ion-color-github-contrast: #ffffff;
  --ion-color-github-contrast-rgb: 255, 255, 255;
  --ion-color-github-shade: #1e2023;
  --ion-color-github-tint: #383a3e;


  /* Creamos .ion-color-youtube */
  .ion-color-youtube {
    --ion-color-base: var(--ion-color-youtube) !important;
    --ion-color-base-rgb: var(--ion-color-youtube-rgb) !important;
    --ion-color-contrast: var(--ion-color-youtube-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-youtube-shade) !important;
    --ion-color-tint: var(--ion-color-youtube-tint) !important;
  }

  /* Creamos .ion-color-twitter */
  .ion-color-twitter {
    --ion-color-base: var(--ion-color-twitter) !important;
    --ion-color-base-rgb: var(--ion-color-twitter-rgb) !important;
    --ion-color-contrast: var(--ion-color-twitter-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-twitter-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-twitter-shade) !important;
    --ion-color-tint: var(--ion-color-twitter-tint) !important;
  }

  /* Creamos .ion-color-facebook */
  .ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook) !important;
    --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebook-shade) !important;
    --ion-color-tint: var(--ion-color-facebook-tint) !important;
  }

  /* Creamos .ion-color-vimeo */
  .ion-color-vimeo {
    --ion-color-base: var(--ion-color-vimeo) !important;
    --ion-color-base-rgb: var(--ion-color-vimeo-rgb) !important;
    --ion-color-contrast: var(--ion-color-vimeo-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-vimeo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-vimeo-shade) !important;
    --ion-color-tint: var(--ion-color-vimeo-tint) !important;
  }

  /* Creamos .ion-color-google */
  .ion-color-google {
    --ion-color-base: var(--ion-color-google) !important;
    --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
    --ion-color-contrast: var(--ion-color-google-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-google-shade) !important;
    --ion-color-tint: var(--ion-color-google-tint) !important;
  }

  /* Creamos .ion-color-github */
  .ion-color-github {
    --ion-color-base: var(--ion-color-github) !important;
    --ion-color-base-rgb: var(--ion-color-github-rgb) !important;
    --ion-color-contrast: var(--ion-color-github-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-github-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-github-shade) !important;
    --ion-color-tint: var(--ion-color-github-tint) !important;
  }
}
